<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout :: html}">
<div th:fragment="content">
    <div class="row mb-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Quản lý Thống kê</h1>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doanh thu theo danh mục</h5>
                    <canvas id="categoryRevenueChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Số lượng đơn hàng theo thời gian</h5>
                    <canvas id="orderTimelineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Biểu đồ doanh thu -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Biểu đồ doanh thu
                </div>
                <div class="card-body">
                    <canvas id="revenueChart" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Báo cáo doanh thu</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Tháng</th>
                                <th>Doanh thu</th>
                                <th>Chi phí</th>
                                <th>Lợi nhuận</th>
                                <th>Tăng trưởng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tháng 8/2024</td>
                                <td>500,000,000 VNĐ</td>
                                <td>300,000,000 VNĐ</td>
                                <td>200,000,000 VNĐ</td>
                                <td><span class="text-success">+5%</span></td>
                            </tr>
                            <!-- Thêm các hàng khác -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>